@media (max-width: 1199px) {
  .hero .text h1 {
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .hero .img {
    display: flex;
    justify-content: flex-end;
  }
  .hero .img img {
    width: 50%;
  }
  .services .image{
    display: flex;
    justify-content: center;
  }
  .services .image img {
    width: 50%;
  }
  footer .extra .image img {
    width: 30%;
  }
  footer .extra .phone {
   display: flex;
   justify-content: flex-end;
  }
}
